<app-header></app-header>
<div class="top">
  <i class="person bi-file-person"></i>
  <h1>Customers</h1>
</div>

<form [formGroup]="addCustomerForm" (ngSubmit)="onSubmit()">
  <div class="m-3">
    <input formControlName="first_name" type="text" class="form-control" placeholder="First Name">
  </div>
  <div class="m-3">
    <input formControlName="last_name" type="text" class="form-control" placeholder="Last Name">
  </div>
  <div class="m-3">
    <input formControlName="phone" type="text" class="form-control" placeholder="Phone">
  </div>
  <div class="m-3">
    <input formControlName="email" type="email" class="form-control" placeholder="Email">
  </div>
  <button [disabled]="!addCustomerForm.valid" class="btn btn-primary m-3"><i class="bi-person-plus me-2"></i>Add
    Customer</button>
</form>
<span *ngIf="notValid" class="help-block">*Please
  enter valid customer details</span>


<table class="table">
  <thead>
    <tr class="table-success">
      <th>
        No.
      </th>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Phone
      </th>
      <th>
        Email
      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody *ngFor="let customer of customers;let i=index;">
    <tr app-customer-row [customerInfo]="customer" [index]="i" (deleteClicked)="deleteCustomer(customer)"
      (editClicked)="editCustomer(customer)"></tr>
  </tbody>
