<H1 class="my-5" style="text-align: center;">COMPANY <i class="bi-balloon-fill"></i> CRM</H1>
<h5 class="mb-3" style="text-align: center;">Login with your account</h5>
<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 form-group">
        <input #emailField (keyup)="checkValidEmail()" formControlName="email" type="email" class="form-control"
          placeholder="Email" id="email">
        <span class="help-block" *ngIf="!emailValid">*Valid email is required</span>
      </div>
      <div class="mb-3 form-group">
        <input #passwordField (keyup)="checkValidPassword()" formControlName="password" type="password"
          class="form-control" placeholder="Password" id="password">
        <span *ngIf="!passwordValid" class="help-block">*Valid password is required</span>
      </div>
      <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <div style="text-align:center;">
      <a routerLink="/signup-component" routerLinkActive="active" ariaCurrentWhenActive="page" class="mt-1">Don't have
        an account yet? Sign Up</a>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-6 offset-md-3 mt-5" style="text-align:center;">
  <div class="text-muted" style="text-align:centre !important;">Copyrights ©
    2022</div>
</div>
