.navbar-brand {
  font-size: 18px;
  font-weight: 700;
}
p {
  display: flex;
  flex-direction: row;
}
.container-fluid {
  position: relative;
}

.log-out {
  display: none;
  font-size: 15px;
  position: absolute;
  bottom: -20px;
}

.log-out.show {
  display: block;
}
